@use 'sass:math';
@import '../../breakpoints';

$line-animation-speed: 0.25s;
$line-animation-finish-delay: $line-animation-speed * 4;

@mixin game-board-grid($cell-size: 8rem) {
  grid-template-rows: repeat(3, $cell-size);
  grid-template-columns: repeat(3, $cell-size);

  &__cell {
    width: $cell-size;
    height: $cell-size;
  }
}

.game-title h1 {
  @media screen and (max-height: 770px) {
    display: none;
  }
}

.game-container {
  box-sizing: border-box;
  margin-top: 2rem;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  position: relative;
  z-index: 1;
  pointer-events: none;
  animation: game-active 0s linear forwards;
  animation-delay: #{$line-animation-finish-delay};

  @keyframes game-active {
    to {
      pointer-events: auto;
    }
  }

  @media screen and (max-height: 640px) {
    margin-top: 1rem;
  }

  @include breakpoint-lg() {
    gap: 1.5rem;
  }
}

.game-board-container {
  display: flex;
  justify-content: center;
  align-items: center;

  @include breakpoint-md() {
    width: 100%;
  }
}

.game-next-move {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 0.5rem;

  --symbol-animation-speed: 0.5s;

  &__player {
    font-weight: bold;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 0.5rem;
    color: var(--color-5);
    text-transform: uppercase;
  }
}

.game-player-name {
  box-sizing: border-box;
  height: 180px;
  flex: 1;
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 0.5rem;
  overflow: hidden;

  @include breakpoint-md() {
    justify-content: flex-start;

    @media screen and (max-height: 590px) {
      display: none;
    }
  }

  .game-player {
    z-index: 1;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-top: -1.5rem;
    font-size: 1rem;
    width: 95%;
    white-space: nowrap;
    overflow: hidden;

    @include breakpoint-md() {
      margin-top: 0;
      font-size: 0.875rem;
      width: 100%;
    }

    strong {
      overflow: hidden;
      display: block;
      white-space: nowrap;
      text-transform: uppercase;
      font-size: 1.5rem;
      text-overflow: ellipsis;
      width: 100%;

      @include breakpoint-xl() {
        font-size: 1.25rem;
      }

      @include breakpoint-md() {
        font-size: 1.125rem;
      }
    }
  }

  .game-player-symbol {
    color: var(--color-dark);
    position: absolute;
    top: 50%;
    z-index: 0;
  }

  &--first {
    align-items: flex-end;
    text-align: right;

    .game-player {
      align-items: flex-end;
    }

    .game-player-symbol {
      transform: translate(-50%, -50%);
      right: 15%;
      animation: show-symbol 2s ease-out forwards;

      @include breakpoint-md() {
        transform: translate(0, -50%);
        right: 50%;
      }
    }

    @include breakpoint-md() {
      width: 50%;
      order: 2;
    }
  }

  &--second {
    align-items: flex-start;

    .game-player {
      align-items: flex-start;
    }

    .game-player-symbol {
      transform: translate(50%, -50%);
      left: 15%;
      animation: show-symbol 2s ease-out forwards;

      @include breakpoint-md() {
        transform: translate(0, -50%);
        left: 50%;
      }
    }

    @include breakpoint-md() {
      width: 50%;
      order: 3;
    }
  }

  @keyframes show-symbol {
    from {
      color: var(--color-2);
    }
    to {
      opacity: 1;
    }
  }

  &--current {
    color: var(--color-5);

    .game-player {
      color: var(--color-5);
    }
  }
}

.game-board {
  $cell-gap: 0.25rem;

  display: grid;
  gap: $cell-gap;
  position: relative;
  padding: math.div($cell-gap, 2);
  border-radius: $cell-gap * 2;
  box-sizing: border-box;

  --symbol-animation-speed: 0.25s;

  @include game-board-grid();

  @include breakpoint-xl() {
    @include game-board-grid(7rem);
  }

  @include breakpoint-lg() {
    @include game-board-grid(15vw);
  }

  @include breakpoint-md() {
    @include game-board-grid(6rem);
  }

  @include breakpoint-sm() {
    @include game-board-grid(28vw);
  }

  &__cell {
    transition:
      0.3s background ease-in-out,
      0.3s color ease-in-out;
    border-radius: $cell-gap * 2;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    &--match {
      color: var(--color-5);
    }

    &--empty:hover {
      cursor: pointer;
      background: rgba(#fff, 0.025);
    }
  }

  &__lines {
    position: absolute;
    left: 0;
    top: 0;
    pointer-events: none;
    width: 100%;
    height: 100%;
    z-index: 1;

    .line {
      position: absolute;
      width: math.div($cell-gap, 1.5);
      height: math.div($cell-gap, 1.5);
      border-radius: math.div($cell-gap, 2);
      transform: translate(-50%, -50%);
      left: 50%;
      top: 50%;
      background: #fff;
      opacity: 0;

      &:nth-child(1) {
        left: 33.5%;
        animation: draw-line-horizontal $line-animation-speed ease-out forwards;
      }

      &:nth-child(2) {
        animation: draw-line-horizontal $line-animation-speed ease-out forwards;
        animation-delay: $line-animation-speed;
        left: 66.5%;
      }

      &:nth-child(3) {
        animation: draw-line-vertical $line-animation-speed ease-out forwards;
        animation-delay: $line-animation-speed * 2;
        top: 33.5%;
      }

      &:nth-child(4) {
        animation: draw-line-vertical $line-animation-speed ease-out forwards;
        animation-delay: $line-animation-speed * 3;
        top: 66.5%;
      }

      @keyframes draw-line-horizontal {
        to {
          opacity: 1;
          height: 100%;
        }
      }

      @keyframes draw-line-vertical {
        to {
          opacity: 1;
          width: 100%;
        }
      }
    }
  }

  $winner-line-size: 0.5rem;

  &:before {
    content: '';
    display: block;
    position: absolute;
    width: $winner-line-size;
    height: $winner-line-size;
    border-radius: math.div($winner-line-size, 2);
    background: var(--color-5);
    z-index: 10;
    pointer-events: none;
    opacity: 0;
  }

  // Rows

  &--row-1:before {
    transform: translateY(-50%);
    left: 0;
    top: 16.6666%;
    animation: draw-line-row $line-animation-speed ease-out forwards;
  }

  &--row-2:before {
    transform: translateY(-50%);
    left: 0;
    top: 50%;
    animation: draw-line-row $line-animation-speed ease-out forwards;
  }

  &--row-3:before {
    transform: translateY(-50%);
    left: 0;
    top: 83.3333%;
    animation: draw-line-row $line-animation-speed ease-out forwards;
  }

  @keyframes draw-line-row {
    50% {
      opacity: 1;
    }
    to {
      width: 100%;
      opacity: 1;
    }
  }

  // Cols

  &--col-1:before {
    transform: translateX(-50%);
    top: 0;
    left: 16.6666%;
    animation: draw-line-col $line-animation-speed ease-out forwards;
  }

  &--col-2:before {
    transform: translateX(-50%);
    top: 0;
    left: 50%;
    animation: draw-line-col $line-animation-speed ease-out forwards;
  }

  &--col-3:before {
    transform: translateX(-50%);
    top: 0;
    left: 83.3333%;
    animation: draw-line-col $line-animation-speed ease-out forwards;
  }

  @keyframes draw-line-col {
    50% {
      opacity: 1;
    }
    to {
      height: 100%;
      opacity: 1;
    }
  }

  // Diagonals
  &--left-top-right-bot:before {
    transform: rotate(45deg) translateY(-50%);
    transform-origin: top left;
    top: 5%;
    left: 5%;
    animation: draw-line-diag $line-animation-speed ease-out forwards;
  }

  &--right-top-left-bot:before {
    transform: rotate(-45deg) translateY(-50%);
    transform-origin: top right;
    top: 5%;
    right: 5%;
    animation: draw-line-diag $line-animation-speed ease-out forwards;
  }

  @keyframes draw-line-diag {
    50% {
      opacity: 1;
    }
    to {
      width: #{math.sqrt(2) * 90%};
      opacity: 1;
    }
  }

  &--finished {
    pointer-events: none;
  }
}
