<div class="game-wrapper game-wrapper--vertical">
  <div class="game-title">
    <ng-container *ngIf="winner">
      <h1>Gratulacje!</h1>
      <div class="game-next-move">
        Wygrywa gracz
        <div class="game-next-move__player">
          {{ currentPlayer }}
        </div>
      </div>
    </ng-container>
    <ng-container *ngIf="!winner && currentPlayer !== ''">
      <h1>Kółko i Krzyżyk</h1>
      <div class="game-next-move">
        Kolejny ruch
        <div class="game-next-move__player">
          {{ currentPlayer }}
          <app-game-symbol-circle
            *ngIf="currentSymbol === 'O'"
            [size]="20"
            [width]="15"
          />
          <app-game-symbol-cross
            *ngIf="currentSymbol === 'X'"
            [size]="20"
            [width]="15"
          />
        </div>
      </div>
    </ng-container>
  </div>
  <div class="game-board-container">
    <div class="game-player">
      <div
        [ngClass]="{
          'game-player-name': true,
          'game-player-name--first': true,
          'game-player-name--current': player1 === currentPlayer,
        }"
      >
        <div class="game-player-label">Gracz #1</div>
        <div class="game-player-value">{{ player1 }}</div>
        <div class="game-player-symbol">
          <app-game-symbol-circle
            *ngIf="player1Symbol === 'O'"
            [size]="150"
            [width]="20"
          />
          <app-game-symbol-cross
            *ngIf="player1Symbol === 'X'"
            [size]="150"
            [width]="20"
          />
        </div>
      </div>
    </div>
    <div [ngClass]="gameBoardClassName">
      <div
        *ngFor="let cell of board; trackBy: trackByCell"
        (click)="makeMove(cell)"
        [id]="cell.id"
        [ngClass]="{
          'game-board__cell': true,
          'game-board__cell--match': cell.isMatch,
          'game-board__cell--empty': cell.value === '',
        }"
      >
        <ng-container *ngIf="cell.value === 'O'">
          <app-game-symbol-circle />
        </ng-container>
        <ng-container *ngIf="cell.value === 'X'">
          <app-game-symbol-cross />
        </ng-container>
      </div>

      <div class="game-board__lines">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
      </div>
    </div>
    <div class="game-player">
      <div
        [ngClass]="{
          'game-player-name': true,
          'game-player-name--second': true,
          'game-player-name--current': player2 === currentPlayer,
        }"
      >
        <div class="game-player-label">Gracz #2</div>
        <div class="game-player-value">{{ player2 }}</div>
        <div class="game-player-symbol">
          <app-game-symbol-circle
            *ngIf="player2Symbol === 'O'"
            [size]="150"
            [width]="20"
          />
          <app-game-symbol-cross
            *ngIf="player2Symbol === 'X'"
            [size]="150"
            [width]="20"
          />
        </div>
      </div>
    </div>
  </div>
</div>
